{% extends "_main.jinja" %}

{% block title %} Príspevok nebol nájdený {% endblock %}


{% block main %}
<div class="row ">
    <div class="col-md-12">
        <div class="error-template">
            <h1>Oops!</h1>
            <h2>Príspevok neexistuje</h2>
            <div class="error-details">
                Bohužiaľ, tento príspevok nebol nájdený :( 
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"> Späť </a>
                <a href={{ url_for("blog.view_articles") }} class="btn btn-default btn-lg">Všetky príspevky</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}