{% extends "_main.jinja" %}

{% block main %}



<body>
  <div class="search-container">
    <div class="row justify-content-center">
      <div class="col-md-6"></div>
      <input type="text" id="search">
      <input type="hidden" id="hid_search">
      <button class="btn btn-primary" type="submit" id="button"
        onmousedown="doSearch(document.getElementById('search').value)" value="Find">Search</button>
  </div>

  <p>OBSAH</p>
  <ul>
  <li><a href="#navod1">1 Firemní kódex</a></li>
    <ul><li><a href="#navod11">1.1 Pracovní zásady</a></li></ul>
  <li><a href="#navod3">Návod na kafe 3</a></li>
  <li><a href="#navod4">Návod na kafe 4</a></li>
  </ul>
  
     




  <div class="container p-3 my-3">
    <h1 id="navod1">1 Firemní kódex</h1>
    <p>Firemní kodex je jedním racovní kázně.</p>
    <h2 id=navod11>1.1 Pracovnidy</h2>
    <p> ◉ Každý pracovní vazek.</p>
    <p> ◉ Prodávat 
    </p>
    <p> ◉ Každý pracovník 
    </p>
    <p> ◉ Každý pracovník j
    </p>
    <p> ◉ Každý pracovník volí ny.</p>
    <p> ◉ Každý pracovník si musí být vědom, také firmu.</p>
      
  </div>


  <div class="container p-3 my-3 bg-dark text-white">
    <h1 id="navod3">Návod na kafe 3</h1>
    <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
  </div>

  <div class="container p-3 my-3 bg-primary text-white">
    <h1 id="navod4">Návod na kafe 4</h1>
    <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding nooooooooooooooooooon and margins.This container has a border and some extra padding
      and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
  </div>



  <script src="{{ url_for('static', filename='js/search.js') }}"></script>



</body>

</html>
{% endblock %}
