{% extends "_main.jinja" %}

{% block main %}



<body>
  <div class="search-container">
    <div class="row justify-content-center">
      <div class="col-md-6"></div>
      <input type="text" id="search">
      <input type="hidden" id="hid_search">
      <button class="btn btn-primary" type="submit" id="button"
        onmousedown="doSearch(document.getElementById('search').value)" value="Find">Search</button>
  </div>

  <p> <a class="goSmoothly nav-link" href="#navod1">Návod na kafe 1</a></p>
  <p><a class="goSmoothly nav-link" href="#navod2">Návod na kafe 2</a></p>
  <p><a class="goSmoothly nav-link" href="#navod3">Návod na kafe 3</a></p>
     




  <div class="container p-3 my-3">
    <h1 id="navod1">Návod na kafe 1</h1>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
  </div>


  <div class="container p-3 my-3 bg-dark text-white">
    <h1 id="navod2">Návod na kafe 2</h1>
    <p>This container has a dark background color and a white text, and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
  </div>

  <div class="container p-3 my-3 bg-primary text-white">
    <h1 id="navod3">Návod na kafe 3</h1>
    <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding nooooooooooooooooooon and margins.This container has a border and some extra padding
      and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
    <p>This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has
      a border and some extra padding and margins.This container has a border and some extra padding
      and margins.This container has a border and some extra padding and margins.This container has a
      border and some extra padding and margins.This container has a border and some extra padding and
      margins.This container has a border and some extra padding and margins.This container has a border
      and some extra padding and margins.This container has a border and some extra padding and margins.</p>
  </div>



  <script src="{{ url_for('static', filename='js/search.js') }}"></script>



</body>

</html>
{% endblock %}