{% extends "_main.jinja" %}

{% block title %} Manuals {% endblock %}


{% block main %}
<div>

    
                <iframe src="https://calendar.google.com/calendar/embed?src=kpjsroi9fq9q5o431ti609mdog%40group.calendar.google.com&ctz=Europe%2FPrague" style="border: 0" width="300" height="400" frameborder="0" scrolling="no"></iframe>
                    </a>
                 {% if session.logged%}
                <p><a href="https://calendar.google.com/calendar/embed?src=kpjsroi9fq9q5o431ti609mdog%40group.calendar.google.com&ctz=Europe%2FPrague">Edit Kalendára</a></p>
                {% else%}
                       
                {% endif %} 
         
    
</div>


    
{% endblock %}