{% extends "_main.jinja" %}

{% block title %} Kalendár {% endblock %}


{% block main %}



<br>
<iframe src="https://calendar.google.com/calendar/embed?height=350&wkst=2&bgcolor=%23e6bf83&ctz=Europe%2FPrague&showPrint=0&showTz=0&showCalendars=0&showTabs=0&showDate=1&showNav=1&showTitle=0&mode=MONTH&src=a3Bqc3JvaTlmcTlxNW80MzF0aTYwOW1kb2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%239E69AF" style="border-width:0" width="330" height="370" frameborder="0" scrolling="no"></iframe>
{% if session.logged%}
<p><a class="text-brown"
        href="https://calendar.google.com/calendar/embed?src=kpjsroi9fq9q5o431ti609mdog%40group.calendar.google.com&ctz=Europe%2FPrague">Edit
        Kalendára</a></p>
{% else%}

{% endif %}







{% endblock %}