{% extends "_main.jinja" %}

{% block title %} Kontakty {% endblock %}

{% block main %}
<div class="container">
    <div class="articles">
        <article class="media pt-3">
            <div class="media-body ">
                <h3 class="mt-0">
                    <h4> Vedoucí dne </h4>
                    <p> <a class="text-nude" href="tel:+420772356722"> Volej 772356722</a>
                    <h6> Technická podpora </h6>
                    <p> <a class="text-nude" href="tel:+420772356724"> Volej 772356724</a>
                    <h6> Provozní </h6>
                    <p> <a class="text-nude" href="tel:+420772356721"> Volej 772356721</a>
                    <h6> Storyous </h6>
                    <p>Problémy s aplikáciou:
                    <p> <a class="text-nude" href="tel:+420777100200"> Volej 777100200</a>
                    <h6> ČSOB terminály </h6>
                    <p>Problém s terminálom:
                    <p> <a class="text-nude" href="tel:+420777609909"> Volej 777609909</a>
            </div>
    </div>

  
    {% endblock %}