
{% extends "_main.jinja" %}

{% block title %} Kontakty  {% endblock %}

{% block main %}
    <article>
        <h3> Vedoucí dne </h3> 
        <p> <a href="tel:+420772356722"> Volej 772356722</a>
        <h4> Technická podpora </h4> 
        <p> <a href="tel:+420772356724"> Volej 772356724</a>
        <h4> Provozní </h4> 
        <p> <a href="tel:+420772356721"> Volej 772356721</a>
        <h4> Storyous </h4> 
        <p>Problémy s aplikáciou:
        <p> <a href="tel:+420777100200"> Volej 777100200</a>
        <h4> ČSOB terminály </h4> 
        <p>Problém s terminálom:
        <p> <a href="tel:+420777609909"> Volej 777609909</a>
    </article>
{% endblock %}