{% extends "_main.jinja" %}

{% block title %} Lokácia nenájdená {% endblock %}


{% block main %}
<div class="row ">
    <div class="col-md-12">
        <div class="error-template">
            <h1>Oops!</h1>
            <h2>Lokácia neexistuje</h2>
            <div class="error-details">
                Bohužiaľ, táto lokácia nebola nájdená :(
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg"> Späť </a>
                <a href={{ url_for("blog.view_locations") }} class="btn btn-default btn-lg">Všetky lokácie</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}