{% extends "_main.jinja" %}

{% block title %} Manuals {% endblock %}


{% block main %}
<div>
<a href={{ url_for("blog.view_manual_barista") }} class="btn btn-default btn-lg">Manual Barista</a>
</div>

    

  

{% endblock %}