
{% extends "_main.jinja" %}

{% block title %} Manual {{manual.title}} {% endblock %}

{% block main %}
    <article>
        <h1>
            {{ manual.title }}
        </h1>
        <div class=content>
            {{ manual.html_render }}
        </div>
    </article>
{% endblock %}