{% extends "_main.jinja" %}

{% block main %}

{# search container #}
<p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
     <input type="text" id="search" class="form-control" placeholder="Kľúčové slovo">
     <input type="hidden" id="hid_search" class="form-control">
     <div class="btn-center">
       <button class="btn btn-primary" type="submit" id="button"
          onmousedown="doSearch(document.getElementById('search').value)" value="Find">Search</button>
     </div>
    </div>
  </div>
</div>
</p>

{# OBSAH #}
<h3><a onclick="myFunction()"><u><b>OBSAH</b></u></a></h3> 

<div id="CONTENT">
  <ul>
    <li><a class="text-brown" href="#navod1">1 PRISLUHA kódex</a></li>
    <ul>
      <li><a class="text-brown" href="#navod11">1.1 Pracovní zásady</a></li>
    </ul>
    <li><a class="text-brown" href="#navod2">Návod na kafe 2</a></li>
    <li><a class="text-brown" href="#navod3">Návod na kafe 3</a></li>
  </ul>
</div>


{# MANUAL #}
<h3 id="navod1">1 Firemní kódex</h3>
<p>Firemní kodex je jedním ze základních předpisů a cílem tohoto kodexu je
  deklarovat vůli pracovníků dodržovat tuto normu chování při jednání se zákazníky, vůči okolí a mezi
  sebou navzájem. Firemní kodex je morálním závazkem a součást pro
  (obecně pracovníci). Všichni pracovníci jsou oprávnění požadovat dodržování tohoto firemního kodexu od
  ostatních. Jakékoliv jeho porušení je považováno za rušení pracovní kázně.</p>

<h2 id=navod11>1.1 Pracovni zásady</h2>
<p> ◉ Každý pracovník nastupuje do práce včas a striktně dodržuje pracovní dobu a úvazek.</p>
<p> ◉ Prodáva sa jenom na určených mistech...
</p>
<p> ◉ Každý pracovník je povinen je povinen chovat se čestně a v souladu
  s obecně uznávanými morálními principy.
</p>
<p> ◉ Každý pracovník je povinen respektovat své kolegy a dodržovat zásady vzájemné důvěry a spolupráce,
  nevyvolávat na pracovišti spory a případné konfliktní situace řešit pozitivně,
  svých kolezích v širším kolekt...
</p>
<p> ◉ Každý pracovník volí vzhleudržuje
  pracovník v čistotě za současného dodržování .</p>
<p> ◉ Každý pracovník si musí být vědom, že svým chováním a osobním vystu.</p>


<h3 id="navod2">2 Meno</h3>
<p>Firemní kodex je jedním ze základních předpisů a cílem tohoto kodexu je
  deklarovat vůli pracovníků dodržovat tuto normu chování při jednání se zákazníky, vůči okolí a mezi
  sebou navzájem. Firemní kodex je morálním závazkem a součást pro
  (obecně pracovníci). Všichni pracovníci jsou oprávnění požadovat dodržování tohoto firemního kodexu od
  ostatních. Jakékoliv jeho porušení je považováno za rušení pracovní kázně.</p>

<h3 id="navod3">3 Latte</h3>
<p>Firemní kodex je jedním ze základních předpisů a cílem tohoto kodexu je
  deklarovat vůli pracovníků dodržovat tuto normu chování při jednání se zákazníky, vůči okolí a mezi
  sebou navzájem. Firemní kodex je morálním závazkem a součást pro
  (obecně pracovníci). Všichni pracovníci jsou oprávnění požadovat dodržování tohoto firemního kodexu od
  ostatních. Jakékoliv jeho porušení je považováno za rušení pracovní kázně.</p>






{# funkcia Hladanie textu podla klucovych slov #}
<script>
  function myFunction() {
    var x = document.getElementById("CONTENT");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>





{% endblock %}