{% extends "_main.jinja" %}

{% block title %} Podp {% endblock %}

{% block main %}


<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSewMk1N05FhJ0GFda6YHeJJf74GcgD8M2UUKBloooZaojApUg/formResponse" method="post" id="form">
    <span>Popis</span>
    <input type="text" name="entry.2074079882" placeholder="popis">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
        
{% endblock %}