{% extends "_main.jinja" %}

{% block title %} Užívateľ {{session['ahoj']}} {% endblock %}

{% block main %}
<div class="container">
    <div class="articles">
        <article class="media pt-3">
            <div class="media-body ">
                <h3> Nastavenia </h3>
                <p><a class="text-nude" href={{ url_for("admin.view_document") }}>Nahrať potravinársky preukaz</a></p>
                <p><a class="text-nude" href={{ url_for("admin.view_change_password_ahoj") }}>Zmena hesla</a></p>
                <form action="{{url_for("admin.logout_user_ahoj")}}" method="post">
                    <button type="submit" class="btn btn-logout" href={{ url_for("admin.view_admin") }}>Odhlásiť</a>
                </form></a></li>
                
            </div>
        </article>
    </div>
</div>


{% endblock %}