{% extends "_main.jinja" %}

{% block title %} Dashboard {% endblock %}

{% block main %}
<h3>Analýza</h3>

<p> <a href= "https://docs.google.com/spreadsheets/d/1KIOa29mQqmET6hK1jIA4PSemz3cmdEt0jLNWNoqKSak/edit">Technická podpora</a>
<p> <a href="https://docs.google.com/spreadsheets/d/1MgsAQqtVQEN8UCyp7D-CUDwlMf1b12dHjSy2nDtPYn0/edit#gid=0">Mlýnky</a>

{% endblock %}