{% extends "_main.jinja" %}

{% block title %} Záznamy {% endblock %}

{% block main %}

<p><h5 class="text-brown"> Technická podpora</h5></p>
<iframe width="100%" height="300px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTS5qNt6Xn13NaspPBv_CPwNj8XXbIDKaOwLRY1wxPZIZ7zrsnqRR54UsmQRMugFeatY9LaqXMhxWuv/pubhtml?widget=true&amp;headers=false"></iframe><p> <a class="text-nude" href= "https://docs.google.com/spreadsheets/d/1KIOa29mQqmET6hK1jIA4PSemz3cmdEt0jLNWNoqKSak/edit">Google Sheets- Technická podpora</a>


<hr width="100%"  size="5" />


<p><h5 class="text-brown"> Mlýnky</h5></p>
<iframe width="100%" height="200px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTW0IBfg-vRUqzgACOMFISQKd-CTpIlnU5GMMjtLVz3SNH9jEFG3T0G5mUgEtTsKCgJWQYUQ9HuVYdv/pubhtml?widget=true&amp;headers=false"></iframe><p> <a class="text-nude" href="https://docs.google.com/spreadsheets/d/1MgsAQqtVQEN8UCyp7D-CUDwlMf1b12dHjSy2nDtPYn0/edit#gid=0">Google Sheets- Mlýnky</a>

{% endblock %}