{% extends "_main.jinja" %}

{% block title %} new user {% endblock %}

{% block main %}
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{{url_for("admin.new_user")}}", method=post>
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(size=20, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }} 
                    {{ form.password(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div> {# col 6 #}
    </div> {# row #}
</div> {# container #}

{% endblock %}