{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
<div class="container">
    <div class="articles">
        <article class="media pt-3">
            <div class="media-body ">
                    {% if session.ahoj%}
                    {{session['ahoj']}}
                    
                    {% elif session.logged%}
                    {{session['logged']}}
                    {% else%}
                    Informačný systém pre baristov. Pre pokračovanie sa prosím prihláste:
                    <b><a class="text-brown" href={{ url_for("admin.view_login") }}>  Login</a></b>
                    {% endif %}         
            </div>
        </article>
    </div>
</div>
{% endblock %}