{% extends "_main.jinja" %}

{% block title %} Welcome to Markdown blog {% endblock %}


{% block main %}
<div class="container-fluid">
    <div class="articles">
        {% if session.ahoj%}
        Ste prihlásený ako pužívateľ v BarISta.
        {% elif session.logged%}
        Ste prihlásený ako admin v BarISta.
        {% else%}
        Informačný systém pre baristov. Pre pokračovanie sa prosím prihláste.
        <h3><a class="text-brown" href={{ url_for("admin.view_login") }}>Login</a></h3>
        {% endif %}
    </div>
</div>


{% endblock %}