  {# USER #}

{% if session.ahoj%}
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid"></div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">

        
    <ul class="navbar-nav">
{% endif %}



      {% if session.ahoj%}
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_locations") }}>Lokácie</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_articles") }}>FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_manuals") }}>Manuále</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Zápis</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href={{ url_for("blog.view_techsupport") }}>Technická podpora</a></li>
          <li><a class="dropdown-item" href={{ url_for("blog.view_mlynky") }}>Mlýnky</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_contact") }}>Kontakty</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_calendar") }}>Kalendár</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Užívateľ</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="nav-item"></li><a class="nav-link" href={{ url_for("admin.view_change_password_ahoj") }}>Zmena hesla</a></li>
          <li><a class="nav-item">
            <form action="{{url_for("admin.logout_user_ahoj")}}" method="post">
            <button type="submit" class="btn btn-logout" href={{ url_for("admin.view_admin") }}>Odhlásiť</a>
            </form></a></li>
        </ul>
      </li>
     

     
      {% endif %}
    


  {# ADMIN #}
  {% if session.logged%}
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid"></div>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">

        
    <ul class="navbar-nav">
{% endif %}


      {% if session.logged%}
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_locations") }}>Lokácie</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_articles") }}>FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_manuals") }}>Manuále</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Zápis</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href={{ url_for("blog.view_techsupport") }}>Technická podpora</a></li>
          <li><a class="dropdown-item" href={{ url_for("blog.view_mlynky") }}>Mlýnky</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_calendar") }}>Kalendár</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("blog.view_contact") }}>Kontakty</a></li>
      <li class="nav-item"><a class="nav-link" href={{ url_for("admin.view_admin") }}>ADMIN</a></li>

      <li class="nav-item">
        <form action="{{url_for("admin.logout_user")}}" method="post">
            <button type="submit" class="btn btn-logout" href={{ url_for("admin.view_admin") }}>Odhlásiť</a>
        </form>
      </li>
      {% endif %}


    </ul>
  </div>
  </div>
</nav>