<!doctype html>
<html lang="en">

<head>
    <title> Welcome to Markdown blog </title>
    <link rel="stylesheet" type="text/css" href={{url_for("static", filename="css/main.css")}}>
</head>

<body>
<header>
    <h1> Simonka </h1>
</header>

<nav>
    <ul class=nav>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Articles</a> </li>
      <li> <a href="#">Admin</a> </li>
    </ul>
</nav>

<main>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt magnam modi non blanditiis ipsum pariatur eligendi corporis nemo quis? Quaerat quod error repellendus, dicta quibusdam deleniti a nobis fugiat sint!
</main>

<footer>
    <p>
        (c) 2018 Severín Murcina
    </p>
</footer>
</body>
</html>